body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: green;
  color: #fff;
  height: 100px;
}

.main-container {
  display: grid;
  grid-template-columns: 22% 39% 39%;
  width: 100%;
  height: calc(100vh - 100px);
  border: 2px solid black;
}

.column-view {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 25px 0 25px 25px;
  height: 100%;
}

.mylists-title-btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column-view h3 {
  font-size: 20px;
  font-weight: 600;
}

.fa-plus {
  font-size: 20px;
  padding: 0;
}

.mylists-btn {
  border: none;
  background: transparent;
  border-radius: 8px;
  padding: 5px 8px 2px 8px;
}

.mylists-btn:hover {
  background: #d0e1ce;
}

.column-view form {
  width: 90%;
  margin-bottom: 50px;
}

.new-project-btn {
  margin-top: 10px;
  margin-right: 10px;
  padding: 2px 10px;
  border: none;
  border-radius: 8px;
  background: tomato;
  color: #fff;
}

.project-form {
  display: none;
}

.fa-clipboard-list {
  margin-left: -115px;
  font-size: 25px;
}

.default-list-btn {
  width: 90%;
  border: none;
  border-radius: 8px;
  background: transparent;
  text-align: start;
  padding: 8px 0 5px 40px;
  font-size: 18px;
}

.default-list-btn:hover {
  background: #d0e1ce;
}